<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">

</head>
<body>
<h1>this is my page</h1>
<h2> {{ msg }} </h2>
<div>

<form action="{% url 'saveStud' %}" method="post" enctype="multipart/form-data">
<!--<form action="/app/saveForm/" method="post" enctype="multipart/form-data">-->
    {%csrf_token%}
    Name  <br> <input type="text" name="name" id="nm" ><br>
    Math <br> <input type="number" name="math" id="mt"><br>
    Eng  <br> <input type="number" name="eng" id="eg" > <br>
    Phy  <br> <input type="number" name="phy" id="ph" > <br>

    Avg  <br> <input type="number" name="avg" id="ag"  onclick="average();" readonly > <br><br>
    Image <input type="file" name="image" id="img" ><br>
    Document <input type="file" name="document" id="doc" ><br><br><br>

    Photo <input type="file" name="photo" id="pho" ><br>
<!--    File <input type="file" name="file1" id="fl" ><br><br>-->

    <input type="submit" >
</form>

</div>

    <script  src="../../static/js/function.js"></script>
</body>
</html>